server:
  port: 8080

spring:
  application:
    name: smart-wallet

  datasource:
    url: jdbc:postgresql://localhost:5432/smart_wallet
    username: postgres
    password: 1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    mongodb:
      uri: mongodb://localhost:27017/smart_wallet

logging:
  level:
    org.hibernate.SQL: DEBUG
